body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin-top: 10px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.info-text,
form {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

textarea {
    width: 100%;
    resize: none;
}

.form-group {
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-bottom: 30px;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
}

h1 {
    color: #007bff;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-text {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
}
